include home

h2 Orders

each i in orders
    .orderProductDetail
        - var productOrder = i.products
        p Order: !{i._id}
        p Order Date: !{i.date} 
        each c in productOrder
            ul
                img(src=c.image height=150 length=150)
                p Product: !{c.name}
                p Price: R$ !{c.price}
                p Quantity: !{c.quantidade}
