include home

- var quantity = quantity

.cartProducts
    if !cookies
        p
    else
        .cartProducts
        for i in cookies
            ul
                - var imagem = JSON.parse(i).image
                img(src=imagem heigth=250 width=250)
                p !{JSON.parse(i).name}
                p Preço: R$ !{JSON.parse(i).price}
                p Quantidade: !{JSON.parse(i).quantidade}
    
.valorTotal 
    .freteCarrinho
        input(type='text' id='cepCart' class='cepCart' value='Digite o CEP')
        input(type='hidden' id='quantityCart' value=quantity)
        input(type='submit' method='POST' class='calculoFrete' value='Calcular Frete' onclick='calculoFrete(' + dimensions.weight + ', ' + dimensions.format + ', ' + dimensions.length + ', ' + dimensions.height + ', ' + dimensions.width + ', ' + dimensions.diameter + ')')
        p Frete:
            p#sedexNameCart
            #prazoFreteSedexCart
            #valorFreteSedexCart
    p Subtotal:
    #subTotal
        p !{valorTotal}
    p Total:
    #valorTotal
    form(action='/checkout' method='POST')
        input(type='submit' value='Buy')
        input(type='hidden' name='data' value=cookies)
        input(type='hidden' name='valorTotal' value=valorTotal)
        input(type='hidden' id='valorCheio' name='valorCheio')

