include home

if products.length <= 0
    p There is no products for this category!
else    
    h2 !{products[0].category.name}

.categoryProducts
    each i in products ? products: [0]
        ul
            img(src=i.image alt=name width="200" height="200" onclick='goToProduct("' + i._id + '")')
            p !{i.name}
            p !{i.price}
